body{
	background-color: #669999;
}
#main{
	height: 380px;
	background-color: white;
	margin-top: 70px;
	border-radius: 10px;
}
#info{
	margin-left: 20px;
	padding-top: 2px;
	
}
input[type=text]{
	width: 260px;
	box-sizing: border-box;
	border:2px solid #dc143c;
	border-radius: 4px;

}